pandas>=2.0.3
numpy>=1.21.0
openpyxl>=3.1.0  # Para suporte a arquivos Excel
python-dateutil>=2.8.2  # Para manipulação avançada de datas
plotly>=5.13.0  # Para gráficos interativos
dash>=2.8.0  # Para dashboard web
dash-bootstrap-components>=1.3.0  # Componentes Bootstrap para Dash
kaleido>=0.2.1  # Para exportar gráficos estáticos
